@keyframes arrow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.field {
    margin-bottom: 10px;
}

.disabledLabel {
    color: gray;
    opacity: 0.5;
}

.fiedItem {
    display: inline-block;
    text-align: center;
    position: relative;
}

.fieldName {
    width: 43%;
    text-align: right;
    font-size: 14px;
}

.fieldSelect {
    padding-left: 15px;
    width: 46%;
}
.fieldSelect select {
    height: 35px;
    width: 100%;
    border: 1px solid #797171;
}

.fieldSelect select:disabled {
    opacity: 0.5;
    border-color: #d6d7e0;
}

.errorStyle select {
    border-color: lightcoral;
}

.fieldArrow {
    width: 27px;
    height: 27px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: -18px;
    margin-left: 20px;
}

.disabledSvg {
    opacity: 0.2;
}

.fieldArrow svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.fieldArrow:hover svg {
    animation: arrow 1s linear infinite;
}
.red {
    color: red;
}

.error {
    font-size: 14px;
    padding: 5px 12% 0 0;
    color: lightcoral;
    text-align: right;
}
